@import '../../evolve_site/css/theme.css';

body
{
    background-color: black;
    color: white;
}

.bg-yellow
{
    background-color: yellow;
}


.login-image {
    background: url('../../evolve_logo.svg') , black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.color-black
{
    color: black;
}

.form-group {
    color:black;
  }

.navbar-brand {
    position: relative;
    width: 170px;
    height: 65px;
    left: 15px;
    background-size: cover;
}

.navbar-brand img{
    width: inherit;
    height: inherit  !important;
}

.reporte-card, .reporte-card .card-footer
{
    background-color: #31493C;
}

.reporte-card .list-group .list-group-item
{
    background-color: #31493C;
    color: white;
}

.dataTables_length select, label {
    color: white;
}
.dataTables_filter input, label {
    color: white;
}


.modal-content {
    background-color: #282828 ;
 }


.login-form *
{
    color: black;
}

.report-image
{
    max-width: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

#cardContainer .card
{
    background-color: rgb(33, 37, 41);
    border-color: white;
}

#cardContainer .card .card-body .card-subtitle
{
    color: white !important;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.active, .btn-primary
{
    color: black !important;
}