{% extends '../base.html' %}
{% load static %}
{% load tz %}
{% block extracss %}
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">
{% endblock extracss %}

{% block content %}
    <div class='container'>
        <h2 class='text-center'>Registro de Mantenimientos</h2>
        <div id='cardContainer' data-source='{% url 'reporte-list' %}' class='card-columns'>
        </div>
        <div id='cardPagination' class='row'>
        </div>
    </div>
{% endblock content %}
    
{% block extrajs %}

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'mantto/js/reporte_table.js' %}" crossorigin="anonymous"></script>

    <script src="{% static 'mantto/js/actualizar_reporte.js' %}" crossorigin="anonymous"></script>
{% endblock extrajs %}