{% extends '../base.html' %}
{% load static %}
{% load tz %}
{% block extracss %}
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" crossorigin="anonymous">
{% endblock extracss %}

{% block content %}
    <div class='container'>
        <h2 class='text-center'>Registro de Mantenimientos</h2>
        
        <div class='row m-3'>
            <h6>Filtros</h6>
            <div class='col'>
                <div class='row'>
                    <div class='col-8'>
                        <label>ID Maquina</label>
                        <input id='maquinaInput' class='form-control'>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-8'>
                        <label>Gimnasio</label>
                        <select id='gymSelect' class='form-control'>
                            <option value selected> ---------- </option>
                            {% for gym in gyms %}
                                <option value="{{gym.pk}}"> {{gym}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if user.perfil.rol.nombre != 'Mantenimiento' %}
                    <div class='row'>
                        <div class='col-8'>
                            <label>Asignado a</label>
                            <select id='asignadoSelect' class='form-control'>
                                <option value selected> ---------- </option>
                                {% for person in asignado %}
                                    <option value="{{person.pk}}"> {{person}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class='row'>
                    <div class='col-8'>
                        <label>Revision</label>
                        <select id='revisadoSelect' class='form-control'>
                            <option value selected> ---------- </option>
                            <option value="1"> Revisado </option>
                            <option value="2"> Sin revisar </option>
                        </select>
                    </div>
                </div>
                <div class='row mt-2'>
                    <div class='col-8'>
                        <button onclick='addFilters()' class='btn btn-primary'> Filtrar </button>
                    </div>
                </div>
            </div>
        </div>

        <nav id='reportFilterNav' class='nav nav-fill nav-tabs'>
            <li class="nav-item">
                <a class="nav-link status-tab active" id='generalTab' onclick="addFilters()">General</a>
            </li>
            {% for status in estados %}
                <li class="nav-item">
                    <a class="nav-link status-tab" st-pk='{{status.pk}}' onclick="addFilters('{{status.pk}}')" >{{ status }}</a>
                </li>
            {% endfor %}
        </nav> 
        <div class='tab-content'>
            <div id='cardContainer' data-source='{% url 'reporte-list' %}' class='card-columns'>
            </div>
            <div id='cardPagination' class='row'>
            </div>
        </div>
    </div>
{% endblock content %}
    
{% block extrajs %}

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'mantto/js/reporte_table.js' %}" crossorigin="anonymous"></script>

    <script src="{% static 'mantto/js/actualizar_reporte.js' %}" crossorigin="anonymous"></script>
{% endblock extrajs %}