{% load widget_tweaks %}
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content container">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <form id="modal_form" method='POST' enctype="multipart/form-data" action='{{action}}'>
            <div class="modal-body">
                
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                                    
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                <div class='d-flex row text-center'>
                {% if fotosequipo %}
                    <h5> Fotos del Equipo </h5>
                    <div id="equipoFotos" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for i in fotosequipo %}
                                {% if forloop.first %}
                                    <li data-target="#equipoFotos" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                {%else%}
                                    <li data-target="#equipoFotos" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}               
                        </ol>
                        <div class="carousel-inner">
                            {% for i in fotosequipo %}
                                {% if forloop.first %}
                                    <div   img-del="{{ i.pk }}" class="carousel-item active">
                                {%else%}
                                    <div  img-del="{{ i.pk }}" class="carousel-item">
                                {% endif %}
                                    <img src="{{ i.img.url }}" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#equipoFotos" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#equipoFotos" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                
                {% endif %}
                </div>
                <div class='d-flex align-items-center row'>
                    <div class='col'>
                        <div class='row'>
                            <div class='col'>
                                {{ form.id_equipo.label_tag }}
                                {{ form.id_equipo.errors }}
                                {% render_field form.id_equipo class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.nombre.label_tag }}
                                {{ form.nombre.errors }}
                                {% render_field form.nombre class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.marca.label_tag }}
                                {{ form.marca.errors }}
                                {% render_field form.marca class='form-control' %}
                            </div>
                            <div class='col'>
                                {{ form.modelo.label_tag }}
                                {{ form.modelo.errors }}
                                {% render_field form.modelo class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.gym.label_tag }}
                                {{ form.gym.errors }}
                                {% render_field form.gym class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.fotos.label_tag }}
                                {{ form.fotos.errors }}
                                {% render_field form.fotos class='form-control' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
                <button type="submit" class="btn btn-info">Guardar Cambios</button>        
            </div>
        </form>
    </div>
</div>