{% load widget_tweaks %}
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content container">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <form id="modal_form" method='POST' enctype="multipart/form-data" action='{{action}}'>
            <div class="modal-body">
                
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                                    
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                <div class='d-flex row text-center'>
                    {% if fotosequipo %}
                        <h5> Fotos del Equipo </h5>
                        <div id="equipoFotos" class="carousel slide" data-ride="carousel">
                        
                            <ol class="carousel-indicators">
                                {% for i in fotosequipo %}
                                    {% if forloop.first %}
                                        <li data-target="#equipoFotos" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                    {%else%}
                                        <li data-target="#equipoFotos" data-slide-to="{{ forloop.counter0 }}"></li>
                                    {% endif %}
                                {% endfor %}               
                            </ol>
                            <div class="carousel-inner">
                                {% for i in fotosequipo %}
                                    {% if forloop.first %}
                                        <div class="carousel-item active">
                                    {%else%}
                                        <div class="carousel-item">
                                    {% endif %}
                                        <img src="{{ i.img.url }}" class="d-block w-100">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#equipoFotos" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#equipoFotos" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class='d-flex align-items-center row'>
                    <div class='col'>
                        <div class='row'>
                            <div class='col'>
                                {{ form.equipo.label_tag }}
                                {{ form.equipo.errors }}
                                {% render_field form.equipo class='form-control' %}
                            </div>
                            <div class='col'>
                                {{ form.estado.label_tag }}
                                {{ form.estado.errors }}
                                {% render_field form.estado class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.gym.label_tag }}
                                {{ form.gym.errors }}
                                {% render_field form.gym class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.reporto.label_tag }}
                                {{ form.reporto.errors }}
                                {% render_field form.reporto class='form-control' %}
                            </div>
                            <div class='col'>
                                {{ form.asignado.label_tag }}
                                {{ form.asignado.errors }}
                                {{ form.asignado }}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.costo.label_tag }}
                                {{ form.costo.errors }}
                                {% render_field form.costo class='form-control' %}
                            </div>
                            <div class='col'>
                                {{ form.tipopago.label_tag }}
                                {{ form.tipopago.errors }}
                                {% render_field form.tipopago class='form-control' %}
                            </div>
                        </div>
                        
                        <div class='row'>
                            <div class='col'>
                                {{ form.fotos.label_tag }}
                                {{ form.fotos.errors }}
                                {% render_field form.fotos class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.fotos_facturas.label_tag }}
                                {{ form.fotos_facturas.errors }}
                                {% render_field form.fotos_facturas class='form-control' %}
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.falla.label_tag }}
                                {{ form.falla.errors }}
                                {% render_field form.falla class='form-control' %}
                            </div>
                        </div>
                        {{ formset.management_form }}
                        <div class='row mt-2 text-center'>
                            <h5> Reparaciones anteriores </h5>
                        </div>
                        {% for item in formset %}
                            <div class='row d-none'>
                                {{ item.id.label_tag }}
                                {{ item.id.errors }}
                                {% render_field item.id class='form-control' %}
                            </div>
                            <div class='row'>
                                <div class='col'>
                                    {{ item.mensaje.label_tag }}
                                    {{ item.mensaje.errors }}
                                    {% render_field item.mensaje class='form-control' %}
                                </div>
                            </div>
                            {% if request.user.perfil.rol.nombre == 'Administrador' %}
                            <div class='row-auto'>
                                {{ item.eliminar.label_tag }}
                                    {{ item.eliminar.errors }}
                                    {{ item.eliminar }}
                            </div>
                            {% else %}
                            <div class='row-auto d-none'>
                                {{ item.eliminar.label_tag }}
                                    {{ item.eliminar.errors }}
                                    {{ item.eliminar }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class='row mt-2 text-center'>
                            <h5> Agregar Mensaje </h5>
                        </div>
                        <div class='row'>
                            <div class='col'>
                                {{ form.diagnostico.label_tag }}
                                {{ form.diagnostico.errors }}
                                {% render_field form.diagnostico class='form-control' %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% if fotos_facturas %}
                    <div class='row text-center mt-2'>
                        <h5> Notas / Facturas </h5>
                        <div id="reporteNotaFotos">
                            {% for i in fotos_facturas %}
                                <div class="foto-container p-3" id="{{ i.pk }}">
                                    <img src="{{ i.img.url }}" class="d-block w-100">
                                {% if request.user.perfil.rol.nombre == "Administrador" %}
                                    <a class='mt-3 btn btn-primary' onclick="deleteFoto('{% url 'reporte_foto_nota_eliminar' id=i.pk %}','{{ i.pk }}')"> Eliminar Foto </a>
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if fotos %}
                    <div class='row text-center mt-2'>
                        <h5> Fotos Subidas </h5>
                        <div id="reporteFotos">
                            {% for i in fotos %}
                                <div class="foto-container p-3" id="{{ i.pk }}">
                                    <img src="{{ i.img.url }}" class="d-block w-100">
                                {% if request.user.perfil.rol.nombre == "Administrador" %}
                                    <a class='mt-3 btn btn-primary' onclick="deleteFoto('{% url 'reporte_foto_eliminar' id=i.pk %}','{{ i.pk }}')"> Eliminar Foto </a>
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                <div class='row text-center mt-2'>
                    <h5> Sin fotos disponibles </h5>
                </div>
                {% endif %}
            </div>
            <div class='modal-footer mt-3'>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>        
                <button type="submit" class="btn btn-info">Guardar Cambios</button>        
            </div>
        </form>
    </div>
</div>