{% extends './base.html' %}
{% load static %}

{% block content %}

    <div class='d-flex justify-content-center'>
        <!--- Mobile -->

        <div class="col-md-auto mt-5 ml-0 d-md-none">
             <div class="row">
                <div class="col">
                    <a>
                        <img src="{% static 'mantto/assets/images/icons/mobile/back_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Recepcion">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/home_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Administración">
                    </a>
                </div>
                <div class='col'>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>
                        <img src="{% static 'mantto/assets/images/icons/mobile/admin/v_membresias_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Membresias">
                    </a>
                </div>
                <div class="col">
                   <a href='{% url 'venta-productos'%}'>
                        <img src="{% static 'mantto/assets/images/icons/mobile/admin/v_productos_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Venta de Productos">
                    </a>
                </div>
                <div class="col">
                    <a >
                        <img src="{% static 'mantto/assets/images/icons/mobile/admin/r_visitas_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Visitas">
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <a >
                        <img src="{% static 'mantto/assets/images/icons/mobile/instructores.svg' %}" class="side-menu-btn flex-md-wrap" alt="Instructores">
                    </a>
                    
                </div>
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/empty-center.svg' %}" class="side-menu-btn flex-md-wrap" >
                    </a>
                    
                </div>
                <div class="col">
                     <a >
                        <img src="{% static 'mantto/assets/images/icons/mobile/clases.svg' %}" class="side-menu-btn flex-md-wrap" alt="Clases">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href= '{% url "inventarios" %}'>
                        <img src="{% static 'mantto/assets/images/icons/mobile/inventarios.svg' %}" class="side-menu-btn flex-md-wrap" alt="Inventarios">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'mantenimiento' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/mantenimiento.svg' %}" class="side-menu-btn flex-md-wrap" alt="Mantenimiento">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'administracion' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/administracion.svg' %}" class="side-menu-btn flex-md-wrap" alt="Administración">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-auto ml-0 d-none d-md-block">
            <div class="row">
                <div class="col p-0">
                    <a>
                        <img src="{% static 'mantto/assets/images/icons/back.svg' %}" class="nav-icon" alt="Recepcion">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/home.svg' %}" class="nav-icon" alt="Administración">
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col p-0">
                    <a>
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/admin/v_membresias.svg' %}" class="side-menu-btn flex-md-wrap" alt="Membresias">
                    </a>
                </div>
                <div class="col p-0">
                    <a  href='{% url 'venta-productos'%}'>
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/admin/v_productos.svg' %}" class="side-menu-btn flex-md-wrap" alt="Productos">
                    </a>
                </div>
                <div class="col p-0">
                   <a >
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/admin/r_visitas.svg' %}" class="side-menu-btn flex-md-wrap" alt="Visitas">
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col p-0">
                   <a >
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/instructores.svg' %}" class="side-menu-btn flex-md-wrap" alt="Instructores">
                    </a>
                </div>
                <div class="col p-0">
                    <a href="{% url 'home' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/empty-center.svg' %}" class="side-menu-btn flex-md-wrap" >
                    </a>
                </div>
                <div class="col p-0">
                    <a >
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/clases.svg' %}" class="side-menu-btn flex-md-wrap" alt="Clases">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col p-0">
                    <a href= '{% url "inventarios" %}'>
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/inventarios.svg' %}" class="side-menu-btn flex-md-wrap" alt="Inventarios">
                    </a>
                    
                </div>
                <div class="col p-0">
                <a href="{% url 'mantenimiento' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/mantenimiento.svg' %}" class="side-menu-btn flex-md-wrap" alt="Mantenimiento">
                    </a>
                </div>
                <div class="col p-0">
                    <a href="{% url 'administracion' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/administracion.svg' %}" class="side-menu-btn flex-md-wrap" alt="Administración">
                    </a>
                    
                </div>
            </div>
        </div>

    </div>

{% endblock content %}