{% extends './base.html' %}
{% load static %}

{% block content %}

    <div class='d-flex justify-content-center'>
        <div class="col-md-auto mt-5 ml-0 ">
            <div class="row">
                <div class="col-md-auto">
                    <a href="{% url 'equipo_agregar' %}">
                        <img src="{% static 'mantto/assets/images/mobile/mantto/registrar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Registrar Equipo">
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{% url 'equipo_lista' %}">
                        <img src="{% static 'mantto/assets/images/mobile/mantto/reportar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reportar Falla">
                    </a>
                </div>
                <div class="col-md-auto ">
                    <a href="{% url 'reportes' %}">
                        <img src="{% static 'mantto/assets/images/mobile/mantto/reporte.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reporte de Fallas">
                    </a>
                </div>
            </div>

        </div>

    </div>

{% endblock content %}