{% extends './base.html' %}
{% load static %}

{% block content %}

    <div class='d-flex justify-content-center'>

        <!-- Mobile -->
        <div class="col-md-auto mt-5 ml-0 d-md-none">
            <div class="row">
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/back_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Recepcion">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/home_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Administración">
                    </a>
                </div>
                <div class='col'>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'equipo_agregar' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/mantto/registrar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Registrar Equipo">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'equipo_lista' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/mantto/reportar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reportar Falla">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'reportes' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/mantto/reporte.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reporte de Fallas">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'reportes' %}">
                        <img src="{% static 'mantto/assets/images/icons/mobile/mantto/tag_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reporte de Fallas">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-auto ml-0 d-none d-md-block">
            <div class="row">
                <div class="col p-0">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/back.svg' %}" class="nav-icon" alt="Recepcion">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'mantto/assets/images/icons/home.svg' %}" class="nav-icon" alt="Administración">
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col p-0">
                    <a href="{% url 'equipo_agregar' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/mantto/registrar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Registrar Equipo">
                    </a>
                </div>
                <div class="col p-0">
                    <a href="{% url 'equipo_lista' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/mantto/reportar.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reportar Falla">
                    </a>
                </div>
                <div class="col p-0">
                    <a href="{% url 'reportes' %}">
                        <img class='menu-icon' src="{% static 'mantto/assets/images/icons/mantto/reporte.svg' %}" class="side-menu-btn flex-md-wrap" alt="Reporte de Fallas">
                    </a>
                </div>
            </div>
            
        </div>

        
    </div>

{% endblock content %}