{% load static %}
<div class='d-flex justify-content-center mb-5'>
    <div class="col-md-auto mt-5 ml-0 d-md-none">
        <div class="row">
            <div class="col-4">
                <a href="{{ previous }}">
                    <img src="{% static 'mantto/assets/images/icons/mobile/back_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Recepcion">
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'home' %}">
                    <img src="{% static 'mantto/assets/images/icons/mobile/home_c.svg' %}" class="side-menu-btn flex-md-wrap" alt="Administración">
                </a>
            </div>
            <div class='col'>
            </div>
        </div>
    </div>

    <div class="col-md-auto ml-0 d-none d-md-block">
        <div class="row">
            <div class="col-4 p-0">
                <a href="{{ previous }}">
                    <img src="{% static 'mantto/assets/images/icons/back.svg' %}" class="nav-icon" alt="Recepcion">
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'home' %}">
                    <img src="{% static 'mantto/assets/images/icons/home.svg' %}" class="nav-icon" alt="Administración">
                </a>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div>